<div class="footer">
    <div style="text-align: right;">
        <a href="http://github.com/strikeroff/blogflow/tree/master">
          <img id="code" src="http://livc.ru/storage/livecodes/0000/4267/file4267.gif" alt="Project live code">
        </a>
    </div>
</div>
