.comment {
    width: 650px;
    border: 1px groove black;
    margin-bottom:20px;
}

.comment-head {
    background-color: #FFF0F0;
    height: 30px;
}

.comment-author {
    padding-top: 5px;
    padding-left: 10px;
}

.comment-content {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom:10px;
}

.add-comment{
    width:500px;
    display: none;
}
.submit{
 float:right;
    padding-top:10px;
}