#content {
    padding-bottom: 220px;
}

.inside {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.sign {
/*text-align: center;*/
    margin-top: 5px;
}

.header {
  text-align: right;
  height: 3.5em;
  border-bottom: 1px solid gray;
  background-color: #FFF0F0;
}

.login-state {
    text-align: right;
    padding-right: 30px;
    padding-top: 10px;
}

.login-state img {
  position: relative; 
  top: 3px;
  margin-left: 20px;
}

