.post-show {
    /*padding-top: 30px;*/
    padding-left: 50px;
    padding-right: 15em;
}
#content{
    padding-top: 30px;
}

.grey {
    background-color: #EFEFEF;
}

.post-attribute {
/*
    padding-top: 20px;
    padding-left: 20px;
*/
}

.post-attribute.author {
  color: gray;
  float: right;
  position: relative;
  top: 1.2em;
}

.post-attribute.attached-files {
  width: 20em;
  clear: both;
  float: right;
  text-align: right;
  padding: 0em 0.5em;
  margin: 2em 0em 2em 2em;
  background-color: #F0F0F0;
}

.post-attribute.attached-files p {
  margin-bottom: 0px;
  font-weight: bold;
}

.post-attribute.body {
  font-size: 130%;
  padding: 2em 0;
  clear: left;
}

.post-attribute.tags {
  clear: right;
  padding-top: 1em;
}

.post-tools {
  color: #666;
  font-style: italic;
  
}

.post-attribute input {
    width: 500px;
}

.post-attribute .input-label {
    padding-bottom: 20px;
}

.post-title {
    font-size: 250%;
    float: left;
    font-family: "Times New Roman";
    border-bottom: 1px dotted gray;
}

.post-list tr td {
    padding-bottom: 5px;
}

.post-list-item {
    border-bottom: 1px silver dotted;
    padding-bottom: 5px;
    clear: both;
    list-style-image: none;
    list-style-position: inside;
    list-style-type: none;
}

.post-list-time {
    float: right;
}

.post-actions {
    padding-top: 30px;
    padding-left: 20px;
}

.post-item-title {

}

.post-list-title {
border-bottom:1px solid gray;
color:#342D7E;
font-size:17px;
font-weight:bold;
padding-bottom:2px;
}
.post-list{
    padding-top:10px;
}
.assets_list{
    list-style-image: none;
    list-style-position: inside;
    /*list-style-type: decimal; */
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px;
}
.post-upload-form{
    padding-top: 20px;
    
}
.edit{
    margin-left:20px;
    margin-right:20px;
    
}
.upd-title{
    padding-top:20px;
}
#upload-form{
    padding-bottom:20px;
}

.comment-list {
  margin-top: 2em;
}

.comment-list p {
  font-weight: bold;
}

.comment-body textarea{
    width: 500px;
    height: 150px;
}
