/*  common */

html {
    height: 100%;
}

* html body {
    height: 100%;
}

body {
    min-height: 100%;
    min-width: 980px;
    position: relative;

    font-size: 12px;
    font-family: Verdana, Tahoma, sans-serif;

    width: 100%;
    margin: 0;
    color: #4b4b4b;

}

img {
    border: 0px;
}

.unspace {
    display: block;
}

a{
 color: #01179c;
}

/* end common */

.img-pos{
    position:relative;
    top: 2px;
}

#content{
    padding-bottom: 116px;
    /*padding-top: 60px;*/
    /*padding-left:30px;*/
    /*padding-right:30px;*/
    /*border: 1px solid darkolivegreen; */
}

.title-sites{
    font-size: 18px;
    margin-bottom: 20px;
}
.title-article{
    font-size: 14px;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 15px;
}

.box-text{
    margin-bottom: 30px;
}
.link-box{
    margin-bottom: 20px;
}

.sign{
    text-align: center;
    margin-top: 7px;
}

.box-news{
    max-width: 620px;
}

.butt{
   /*float: right;*/
    height:23px;
    *height: 24px;
    padding-bottom: 2px;
    margin-left: 3px;
    /*background-color: #d1d1d1;*/
    /*border: 1px solid #d1d1d1;*/
   /*position:relative;*/
    /*top: -1px;*/
    width: 53px;
   /** top: 0px;*/
}

.send-butt{
    margin-top: 4px;
    background-color: #c4c2c2;
    border: 1px solid #c4c2c2;
    height: 22px;
    padding-bottom: 3px;
    *margin-top: 5px;
}

/*.color-button {*/
/*background-color:#D6D6D6;*/
/*border:1px solid #D6D6D6;*/
/*padding:0 5px;*/
/*}*/

.item-last{
    line-height: 16px;
    margin-bottom: 15px;
}
/*** ** widgets ** ***/

.gionet-widget{
    margin-bottom:20px;
    line-height: 16px;
}

.title-widget{
    font-size: 18px;
    /*font-weight: bold;*/
    margin-bottom: 5px;
    
}


.widget-publ a{
    color: #4b4b4b;
}

/** end widgets **/

/**** footer  ****/
.footer{
    
    position: absolute;
    bottom: 0;
    height: 190px;
    width: 100%;

    border-top: 1px solid #e0dee1;
    padding-top: 10px;
     /*border: 1px solid lightsalmon;*/
}

.footer a{
    color: #6183B2;
}


.footer div{
    margin-bottom: 10px;
}



.find-field{
    width: 200px;
    height: 17px;
    *height: 18px;
    border: 1px solid #bcbcbc;
    /*float: right;*/
    padding-top: 2px;
    padding-left: 2px;
}
.copyright{
    padding-right: 30px;
    float: right;
    text-align: right;
        padding-bottom: 20px;
}
.gio-studio-copyright{
    overflow: hidden;
    padding-left: 30px;
        padding-bottom: 20px;
}

.blur-text-field {
   color : #c4c2c2;
}
/* end footer */

/*div{*/
    /*border: 1px solid lightsalmon;
}*/



